<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>tmpl</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="tmpl.js"></script>
    <script src="script.js"></script>
  </head>
  	<body>

  		<script type="text/html" id="template">

  		<h1><%= name %></h1>
  		<h2><%=  age%></h1>
  		<h2><%= sex %></h1>
  		<h2><%= activity %></h1>
  		<p><%= discription %></p>
  		


  		</script>

    </body>
</html> 
